<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <title sec:authentication="name"></title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{js/multiselect.min.js}"></script>
    <script type="text/javascript" th:src="@{js/prettify.min.js}"></script>
    <style type="text/css">
        .pageData{
            padding-top: 50px;
        }
        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }
    </style>
</head>
<body>
<script type="text/javascript">
    var roleID ;
    function getInfo(rid){
        var str = "";
        var str1 = "";
        $.ajax( {
            url : "/btnAuth/edit/getInfo/"+rid,
            dataType:"json",
            success : function(data) {
                $.each(data.uncheck, function(idx, obj) {
                    str += '<option value="' + obj.btnID + '">' + obj.btnName + '</option>';
                });
                $("#multiselect").find("option").remove();
                $("#multiselect").append(str);
                $.each(data.checked, function(idx, obj) {
                    str1 += '<option value="' + obj.btnID + '">' + obj.btnName + '</option>';
                });
                $("#multiselect_to").find("option").remove();
                $("#multiselect_to").append(str1);
                roleID = rid;
            }
        });
    }
    function submitMenuAuth(){
        var selected = document.getElementById('multiselect_to');
        var checkArray=new Array();
        $.each(selected, function(idx, obj) {
            var checkedBtn = {};
            checkedBtn.btnID = obj.value;
            checkedBtn.btnName = obj.text;
            checkArray.push(checkedBtn);
        });
        var toJson =  JSON.stringify(checkArray);
        $.ajax({
            type : "POST",
            dataType : "JSON",
            url : "/btnAuth/edit/submitBtnAuth/"+roleID,
            contentType : "application/json;charset=utf-8",
            data : toJson
        });
        location.reload();
    }
    $(document).ready(function() {

        if ( window.location.hash ) {
            scrollTo(window.location.hash);
        }

        $('.nav').on('click', 'a', function(e) {
            scrollTo($(this).attr('href'));
        });
        $('#multiselect').multiselect();
        $('.multiselect').multiselect();
        $('.js-multiselect').multiselect({
            right: '#js_multiselect_to_1',
            rightAll: '#js_right_All_1',
            rightSelected: '#js_right_Selected_1',
            leftSelected: '#js_left_Selected_1',
            leftAll: '#js_left_All_1'
        });

        $('#keepRenderingSort').multiselect({
            keepRenderingSort: true
        });

        $('#undo_redo').multiselect();
    });

    function scrollTo( id ) {
        if ( $(id).length ) {
            $('html,body').animate({scrollTop: $(id).offset().top - 40},'slow');
        }
    }
</script>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="@{/}">Spring Security演示</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="hasAuthority('menu_1')"><a th:href="@{/}">首页</a></li>
                <li sec:authorize="hasAuthority('menu_2')"><a th:href="@{/user}">用户管理</a></li>
                <li sec:authorize="hasAuthority('menu_4')"><a th:href="@{/role}">角色管理</a></li>
                <li sec:authorize="hasAuthority('menu_3')"  class="active"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">权限管理<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li sec:authorize="hasAuthority('menu_5')"><a th:href="@{/menuAuth}">菜单权限</a></li>
                        <li sec:authorize="hasAuthority('menu_6')"><a th:href="@{/btnAuth}">按钮权限</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container pageData">
    <div class="starter-template">
        <table class="table">
            <tr><td>序号</td><td>角色</td><td>操作</td></tr>
            <tr th:each="role : ${roles}">
                <td th:text="${role.roleID}"></td>
                <td th:text="${role.roleName}"></td>
                <td><a sec:authorize="hasAuthority('button_4')" data-toggle="modal" th:onclick="'javascript:getInfo('+${role.roleID}+');'" data-target=".editBtnAuth">编辑</a></td>
            </tr>
        </table>
    </div>
</div>

<!--编辑-->
<div class="modal fade editBtnAuth" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">编辑</h4>
            </div>
            <div class="modal-body" style="text-align: center" >

                <div class="row">
                    <div class="col-sm-5">
                        <select name="from" id="multiselect" class="form-control" size="8" multiple="multiple">

                        </select>
                    </div>

                    <div class="col-sm-2">
                        <button type="button" id="multiselect_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward">》》</i></button>
                        <button type="button" id="multiselect_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right">》</i></button>
                        <button type="button" id="multiselect_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left">《</i></button>
                        <button type="button" id="multiselect_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward">《《</i></button>
                    </div>

                    <div class="col-sm-5">
                        <select name="to" id="multiselect_to" class="form-control" size="8" multiple="multiple">

                        </select>
                    </div>

                    <button class="btn btn-default" type="submit" onclick="javascript:submitMenuAuth()">确认</button>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
