<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <title sec:authentication="name"></title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
    <style type="text/css">
        .pageData{
            padding-top: 50px;
        }
        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="@{/}">Spring Security演示</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" th:each="menu : ${menus}">
                <li><a th:href="@{${menu.url}}" th:text="${menu.menuName}"></a></li>
                <li><a th:href="@{/logout}"></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container pageData">
    <div class="starter-template">
        <table class="table">
            <tr><td>序号</td><td>角色</td><td>描述</td></tr>
            <tr th:each="role : ${roles}">
                <td th:text="${role.roleID}"></td>
                <td th:text="${role.roleName}"></td>
                <td th:text="${role.roleDesc}"></td>
            </tr>
        </table>
        <button sec:authorize="hasAuthority('button_2')" class="btn btn-primary" data-toggle="modal" data-target=".createRole">添加角色</button>
    </div>
</div>

<!--添加用户-->
<div class="modal fade createRole" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加角色</h4>
            </div>
            <div class="modal-body" style="text-align: center" >
                <form name="form" th:action="@{/role/createRole}" method="POST"> <!-- 3 -->
                    <div class="form-group">
                        <label for="roleName">角色名称</label>
                        <input type="text" class="form-control" name="roleName" value="" placeholder="角色名称" />
                    </div>
                    <div class="form-group">
                        <label for="roleDesc">角色描述</label>
                        <input type="text" class="form-control" name="roleDesc" placeholder="角色描述" />
                    </div>
                    <input type="submit" id="create" value="添加" class="btn btn-primary"/>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
